body {
    background: linear-gradient(to bottom right, #f0f4ff, #d5e1ff)
}

#containment-wrapper {
    position: relative;
    height: 400px;
    border: 2px dashed #999;
    border-radius: 10px;
    background: #ffffaa;
}

#meme-pic {
    cursor: grab;
}

#meme-pic:active {
    cursor: grabbing;
}

.score-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.navbar-brand {
    font-size: 18px;
    font-weight: bold;
}